.footer.text-center
  %p 回忆 - 我们的律师事务所从事偿还债务在1994年！
  = image_tag('logo.png', height: '', width: '', class: "text-center")
  %p
    %a{href: "http://www.dolg-vozvrat.com"} 我们在俄罗斯网站 - www.dolg-vozvrat.com


